api.marinesensitivity.org {
  reverse_proxy plumber:8888
}

file.marinesensitivity.org {
  root * /share/public
  file_server browse {
    # serve *.zst, *.br or *.gz if file exists and client supports precompressed files
    precompressed zstd br gzip
  }
}

pgadmin.marinesensitivity.org {
  reverse_proxy pgadmin:8088
}

rest.marinesensitivity.org {
  reverse_proxy rest:3000
}

rstudio.marinesensitivity.org {
  reverse_proxy rstudio:8787
}

shiny.marinesensitivity.org {
  reverse_proxy rstudio:3838
}

swagger.marinesensitivity.org {
  reverse_proxy swagger:8080
}

tile.marinesensitivity.org {
  reverse_proxy tile:7800
}

tilecache.marinesensitivity.org {
  reverse_proxy tilecache:6081
}

titiler.marinesensitivity.org {
  reverse_proxy titiler:8000
}
